<tr id="<%= identity %>">
  <td scope="row">
    <a name="<%= identity %>_initiative" class="link"><%= initiative %></a>
  </td>

  <td name="<%= identity %>_name" class="<%= combatant_class_name %>">
    <%= name %>
  </td>

  <td>
    <a name="<%= identity %>_current_hit_points" class="link"><%= current_hit_points %></a>
  </td>
</tr>
