<h1><%= form.name %></h1>

<div class="container">
  <h4>CR <%= form.challenge_rating %> <small>(<%= number_with_delimiter(form.experience_points) %> xp)</small></h4>

  <div class="table-responsive bordered">
    <table class="table table-hover table-condensed">
      <caption>Enemies</caption>
      <thead>
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Hit Points</td>
          <td>Armor Class</td>
        </tr>
      </thead>
      <tbody>
      <% form.enemies.each.with_index(1) do |enemy, index| %>
        <tr>
          <th scope="row"><%= index %></th>
          <td><a href="#" id="name" data-type="text" data-pk="<%= enemy.id %>" data-url="<%= encounter_enemy_path(form, enemy) %>" data-title="Enter name"><%= enemy.name %></a></td>
          <td><a href="#" id="hit_points" data-type="text" data-pk="<%= enemy.id %>" data-url="<%= encounter_enemy_path(form, enemy) %>" data-title="Enter hit points"><%= enemy.hit_points %></a></td>
          <td><a href="#" id="armor_class" data-type="text" data-pk="<%= enemy.id %>" data-url="<%= encounter_enemy_path(form, enemy) %>" data-title="Enter armor class"><%= enemy.armor_class %></a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
